@import "./variables";
.section__adds {
    >div {
        max-width: 272px;
        margin-right: auto;
        padding-top: 40px;
        padding-left: calc(40px - 13px);
    }
    p {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #2D9CDB;
        margin: 0;
        padding-bottom: 15px;
    }
    h2 {
        margin: 0;
        padding-bottom: 15px;
    }
    .img_design {
        width: 100%;
        border-radius: 18px
    }
}

.section__goals {
    >div {
        padding-left: calc(40px - 13px);
    }
    h2 {
        max-width: 275px;
        margin-right: auto;
        margin: 0;
        padding-top: 22px;
        padding-bottom: 33px;
    }
    p {
        font-size: 12px;
        line-height: 18px;
        color: #4F4F4F;
        margin: 0;
        padding-bottom: 31px;
    }
    form {
        display: flex;
        flex-direction: column;
        >div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background: #F2F2F2;
            border-radius: 12px;
            padding: 4px;
            input {
                border: none;
                background: #F2F2F2;
                border-radius: 12px;
                padding-top: 15px;
                padding-bottom: 9px;
                padding-left: 19px;
                outline: none;
            }
        }
        label {
            font-weight: 500;
            font-size: 10px;
            line-height: 15px;
            color: #828282;
            margin-bottom: 10px;
        }
    }
}

@media (min-width: 1114px) {
    .section__adds {
        >div {
            max-width: 543px;
            padding-left: calc(277px - 13px);
            padding-top: 96px;
            margin-right: 0;
        }
        h2 {
            padding-bottom: 42px;
        }
    }
}