@import "./variables";
.link-to-join {
    padding-left: 20px;
    padding-right: 21px;
    padding-top: 11px;
    padding-bottom: 13px;
    background: #2D9CDB;
    border-radius: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* Gray 6 */
    color: #F2F2F2;
}