@import "./variables";
.link-to-join {
    padding-left: 20px;
    padding-right: 21px;
    padding-top: 11px;
    padding-bottom: 13px;
    background-color: #2D9CDB;
    border-radius: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #F2F2F2;
}

.btn__start_joining {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #828282;
    background-color: #E0E0E0;
    border-radius: 12px;
    padding: 9px 13px;
}

.btn__start_joining:hover {
    background-color: #2D9CDB;
    color: #ffffff;
}

.offering--btn svg {
    padding: 20px;
    border-radius: 16px;
}

.btn__create svg {
    background-color: #2D9CDB;
}

.btn__frontend--offer svg {
    background-color: #27AE60;
    // padding: 20px;
    // border-radius: 16px;
}

.btn__backend--offer svg {
    background-color: #EB5757;
}

.link-to-see-more {
    font-family: 'Poppins Medium';
    text-transform: lowercase;
    font-size: 18px;
    line-height: 27px;
    color: #2D9CDB;
}

@media(min-width:1114px) {
    .link-to-see-more {
        font-size: 24px;
        line-height: 36px;
    }
}