html {}

body {
    font-family: 'Poppins';
    background-color: #FFFFFF;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

article,
.wrapper {
    padding-left: 13px;
    padding-right: 13px;
}

main {
    margin-bottom: 103px;
}

@media (min-width:1114px) {
    article {
        max-width: 1114px;
        margin: auto;
        padding: 0;
    }
    main {
        margin-bottom: 203px;
    }
    article,
    .wrapper {
        padding: 0;
    }
}