@import './variables';
body>footer {
    background-color: #100E1D;
    padding-top: 36px;
    padding-left: calc(40px - $horizontal-default-space);
    padding-bottom: 45px;
    .footer__container {
        padding-left: $horizontal-default-space;
        padding-right: $horizontal-default-space;
    }
}

body>footer form {
    padding-bottom: 133px;
}

body>footer .developper__name {
    font-family: 'Montserrat SemiBold';
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
    text-align: center;
}

@media(min-width:1114px) {
    body>footer .footer__container {
        max-width: 1114px;
        margin: auto;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 356px;
        align-items: baseline;
    }
}